﻿@model List<InsuranceWebAIProject.Models.ViewModels.ServiceViewModel>

<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Hizmetlerimiz</h4>
            <h1 class="display-4 mb-4">En İyi Sigorta Hizmetlerini Sunuyoruz</h1>
            <p class="mb-0">
                Sizlere geniş kapsamlı, güvenilir ve kişiye özel sigorta çözümleri sunuyoruz. Hayatınızı ve değerlerinizi korumak için buradayız.
            </p>
        </div>
        <div class="row g-4 justify-content-center">
            @foreach (var service in Model)
            {
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="@service.ServicesCardImageUrl" class="img-fluid rounded-top w-100" alt="@service.ServicesCardTitle" />
                            <div class="service-icon p-3">
                                <i class="@service.ServicesCardIcon fa-2x"></i>
                            </div>
                        </div>
                        <div class="service-content p-4">
                            <div class="service-content-inner">
                                <a href="#" class="d-inline-block h4 mb-4">@service.ServicesCardTitle</a>
                                <p class="mb-4">@service.ServicesCardDescription</p>
                                <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Devamını Oku</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                <a class="btn btn-primary rounded-pill py-3 px-5" href="#">Daha Fazla Hizmet</a>
            </div>
        </div>
    </div>
</div>